<!-- <li>
  {{#link-to 'content'}}
{{content.question}} by {{content.author}} {{content.notes}}
{{update-content content=content update="update"}}
<button {{action 'delete' rental}}>Delete</button>
</li> -->
