<h2><em>{{model.question}}</em> <strong>by {{model.author}}</strong></h2> <br>
{{update-content content=model update="update"}} <br>
{{content-detail content=model destroyContent="destroyContent" destroyResponse="destroyResponse"}}
{{new-response saveAnswer="saveAnswer" content=model}}
